<div class="card center">
	<i class="material-icons login-logo">
		account_circle
	</i>
	<h1>Bem-vindo ao ambiente de teste!</h1>
	<p>Para ter acesso ao sistema, faça login com suas credenciais</p>
	<div class="form-container">
		<form class="form">
			<div class="form-section">
				<label for="email">E-mail</label>
				<input type="text" name="email" placeholder="Digite seu e-mail">
			</div>
			<div class="form-section">
				<label for="senha">Senha</label>
				<input type="password" name="senha" placeholder="Digite sua senha">
			</div>
			<button class="btn btn-success" type="submit" name="button">Login</button>
		</form>
	</div>
</div>
