<div class="header-container elevation-1">
	<div class="header-logo" routerLink="/">
		Teste Apollus
	</div>
	<div class="header-logout" *ngIf="isLogged">
		<button class="btn btn-white btn-outline account" type="button" name="button">
			<i class="material-icons">
				account_circle
			</i>
			<span>
				Perfil
			</span>
		</button>
		<!-- <button class="btn btn-white btn-outline" type="button" name="button"> -->
		<button type="button" class="leave btn-noemph" (click)="logout()">
			<i class="material-icons">
				power_settings_new
			</i>
			<span class="leave-text">
				Sair
			</span>
		</button>
		<!-- </button> -->
	</div>
</div>
<div class="content">
	<router-outlet></router-outlet>
</div>
