.profile-container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 2em;
}

.profile-pic {
	flex: 0 1 auto;
}

.profile-pic > i {
	font-size: 7.5em;
	margin: auto;
}

.profile-info {
	flex: 1 1 auto;
	margin-left: 1.5em;
}

.profile-name {
	font-size: 2em;
	font-weight: bold;
	padding: 0.5em 0;
}

.profile-subs {
	font-size: 0.9em;
	font-weight: 300;
	padding: 0.2em 0;
	color: #AAAAAA;
}

@media screen and (max-width: 400px){
	.profile-container {
		font-size: 0.8em;
	}
	.profile-subs {
		font-size: 1em;
	}
}
