<h2>
	<!-- <span> -->
		Usuários do sistema &nbsp;
	<!-- </span> -->
</h2>
<button class="btn btn-primary btn-icon" type="button" name="button" *ngIf="elevacao">
	<i class="material-icons">
		person_add
	</i>
	<span>
		&nbsp;
		Adicionar usuário
	</span>
</button>

<table>
	<tr class="t-header">
		<th>Nome</th>
		<th>E-mail</th>
		<th>Tipo</th>
	</tr>
	<tr>
		<td>
			<i class="material-icons">
				account_circle
			</i>
			<span>
				&nbsp;
				Rodrigo Zietlow
			</span>
		</td>
		<td>rodrigo.zietlow@gmail.com</td>
		<td>Administrador</td>
		<td>
			<i class="material-icons action-control">
				edit
			</i>
			<i class="material-icons action-control">
				delete
			</i>
		</td>
	</tr>
	<tr>
		<td>
			<i class="material-icons">
				account_circle
			</i>
			<span>
				&nbsp;
				Rodrigo Zietlow
			</span>
		</td>
		<td>rodrigo.zietlow@gmail.com</td>
		<td>Administrador</td>
		<td>
			<i class="material-icons action-control">
				edit
			</i>
			<i class="material-icons action-control">
				delete
			</i>
		</td>
	</tr>
	<tr>
		<td>
			<i class="material-icons">
				account_circle
			</i>
			<span>
				&nbsp;
				Rodrigo Zietlow
			</span>
		</td>
		<td>rodrigo.zietlow@gmail.com</td>
		<td>Administrador</td>
		<td>
			<i class="material-icons action-control">
				edit
			</i>
			<i class="material-icons action-control">
				delete
			</i>
		</td>
	</tr>
</table>
