<h2>
	<!-- <span> -->
		Usuários do sistema &nbsp;
	<!-- </span> -->
</h2>
<div class="form-section">
	<label for="pesquisa">Pesquisa</label>
	<input type="text" name="pesquisa" placeholder="Pesquise aqui" [(ngModel)]="pesquisa" (ngModelChange)="pesquisar($event)">
</div>
<button class="btn btn-primary btn-icon" type="button" name="button" *ngIf="elevacao" routerLink="/users/cadastrar">
	<i class="material-icons">
		person_add
	</i>
	<span>
		&nbsp;
		Adicionar usuário
	</span>
</button>
<table *ngIf="!carregando && users.length">
	<tr class="t-header">
		<th>Nome</th>
		<th>E-mail</th>
		<th>Tipo</th>
	</tr>
	<tr *ngFor="let user of users">
		<td>
			<i class="material-icons">
				account_circle
			</i>
			<span>
				&nbsp;
				{{user.name}}
			</span>
		</td>
		<td>{{user.email}}</td>
		<td>{{user.type == 'admin' ? 'Administrador' : 'Usuário'}}</td>
		<td *ngIf="elevacao">
			<i class="material-icons action-control" routerLink="/users/editar/{{user.id}}">
				edit
			</i>
			<i class="material-icons action-control" (click)="excluir(user)">
				delete
			</i>
		</td>
	</tr>
</table>
<div class="alert" *ngIf="!carregando && ! users.length">
	Nenhum usuário cadastrado
</div>
<div class="alert alert-warning" *ngIf="carregando">
	Carregando
</div>
