html {
	font-family: 'Roboto', sans-serif;
	background-color: #FCFCFC;
	color: #333333;
}

h1, h2 {
	font-weight: 400;
}


/* buttons */
button {
	border: none;
	cursor: pointer;
	display: inline-block;
	font-size: 14px;
	font-weight: 500;
	vertical-align: middle;
	outline: none;
	text-transform: uppercase;
	letter-spacing: 0.5px;
}

button > span {
	vertical-align: text-top;
}

.btn:disabled {
	cursor: not-allowed;
	opacity: 0.65;
}


.btn {
	border-radius: 0.25rem;
	padding: 0.4rem 0.75rem;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	transition: box-shadow 0.3s ease,background 0.3s ease;
}

.btn:disabled {
	cursor: not-allowed;
	opacity: 0.65;
}

.btn.btn-icon {
	line-height: 1;
}

.btn:not(:disabled):not(.btn-outline):hover,.btn:not(:disabled):not(.btn-outline):focus  {
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.btn > i {
	vertical-align: text-bottom;
}

.btn-outline {
	border: solid #FFFFFF 0.05rem;
	background: transparent;
	color: inherit;
	box-shadow: none;
}

.btn-outline:hover, .btn-outline:focus {
	background-color: #FFFFFF;
	color: #CC3333;
}

.btn-noemph {
	background: transparent;
	color: #FFFFFF;
	transition: color 0.2s ease;
}

.btn-noemph:hover {
	color: #CCCCCC;
}

.btn-noemph:focus {
	outline: 2px solid #CCCCCC;
}


.btn-primary {
	background-color: #1976d2;
	color: #FFFFFF;
	fill: #FFFFFF;
}

.btn-success {
	background-color: #00C851;
	color: #FFFFFF;
	fill: #FFFFFF;
}
